name: Continuous Integration

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  release:
    types: [published]

jobs:
  build:
    name: Build
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [windows-2022, ubuntu-22.04, macos-14]

    steps:
      - uses: actions/checkout@v4

      - name: Configure cmake
        run: mkdir build && cd build && cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/artifact ..

      - name: Build
        run: cmake --build build --target install --config RelWithDebInfo

      - if: matrix.os == 'windows-2022'
        name: Test run
        run: ${{ github.workspace }}/artifact/edge_tunnel_client.exe

      - if: matrix.os != 'windows-2022'
        name: Test run
        run: ${{ github.workspace }}/artifact/edge_tunnel_client

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ runner.os }}-artifact
          path: ${{ github.workspace }}/artifact/

  release-assets:
    name: Release Assets
    needs: build
    runs-on: ubuntu-22.04
    permissions:
      # give permissions to upload assets to the release
      contents: write

    if: github.event_name == 'release'
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: ${{ github.workspace }}/artifacts
      - name: Make asset files
        run: |
          cd ${{ github.workspace }}/artifacts

          mv Linux-artifact edge_tunnel_client
          chmod +x edge_tunnel_client/edge_tunnel_client
          tar -czf ${{ github.workspace }}/artifacts/edge_tunnel_client-linux.tar.gz edge_tunnel_client
          rm -r edge_tunnel_client

          mv Windows-artifact edge_tunnel_client
          zip -r ${{ github.workspace }}/artifacts/edge_tunnel_client-windows.zip edge_tunnel_client
          rm  -r edge_tunnel_client

          mv macOS-artifact edge_tunnel_client
          chmod +x edge_tunnel_client/edge_tunnel_client
          tar -czf ${{ github.workspace }}/artifacts/edge_tunnel_client-macos.tar.gz edge_tunnel_client
          rm -r edge_tunnel_client

      - name: Upload release assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ${{ github.workspace }}/artifacts/edge_tunnel_client-linux.tar.gz
            ${{ github.workspace }}/artifacts/edge_tunnel_client-windows.zip
            ${{ github.workspace }}/artifacts/edge_tunnel_client-macos.tar.gz
